body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(3, 13, 34);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://imgs.search.brave.com/Qdukt4gxovh7UwdsUr87bh0zznEeBzsrD2PcrOULBQw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvNGst/bmF0dXJlLWF0LWdv/bGRlbi1ob3VyLTUy/ODFvejVzbGphcjB6/Zm0uanBn);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contenedor {
    width: 300px;
    color: white;
    border: white solid 2px;
    padding: 22px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
}

input {
    border-radius: 7px;
    padding: 5px;
    opacity: 0.8;
    border: 1px solid rgba(0, 0, 0, 0.178);
    filter: drop-shadow(0px 0px 10px);
    width: 90%;
    outline: none;
}

input:focus {
    opacity: 1;
}

.botones {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

button {
    all: unset;
    border-radius: 5px;
    padding: 9px;
    outline: none;
}

.btn-text {
    background-color: rgb(18, 102, 230);
}

.btn-text:hover {
    transform: scale(0.9);
    background-color: rgb(11, 57, 126);
}

.btn-clean {
    background-color: red;
}

.btn-clean:hover {
    transform: scale(0.9);
    background-color: rgb(121, 5, 5);
}